<?xml version="1.0" encoding="utf-8"?>
<Client name="Chromecast">
  <!-- More info on how this profile works here:
    https://forums.plex.tv/discussion/73702/writing-profiles-for-dlna-devices -->
  <!-- More info on Chromecast supported codecs here:
    https://developers.google.com/cast/docs/media#video-codecs-chromecast-ultra -->
<TranscodeTargets>
    <VideoProfile protocol="http" container="matroska" codec="h264,hvec" audioCodec="aac,mp2,mp3" context="streaming">
    </VideoProfile>
    <MusicProfile container="matroska" codec="aac,mp2,mp3"/>
    <PhotoProfile container="jpeg"/>
    <SubtitleProfile container="ass" codec="ass"/>
  </TranscodeTargets>
<DirectPlayProfiles>
    <VideoProfile container="mp4" codec="h264,hvec,mpeg1video,mpeg2video,mpeg4" audioCodec="aac,mp2,mp3"/>
    <VideoProfile container="mkv" codec="h264,hvec,vp8,vp9" audioCodec="aac,mp3,mp2,flac" subtitleFormat="srt,ass"/>
    <MusicProfile container="mp3" codec="mp2,mp3"/>
    <MusicProfile container="mp4" codec="aac,ac3"/>
    <MusicProfile container="flac" codec="flac"/>
    <PhotoProfile container="bmp,gif,jpeg,png,webp"/>
  </DirectPlayProfiles>
<CodecProfiles>
    <VideoCodec name="h264,hvec,vp8,vp9">
      <Limitations>
        <UpperBound name="video.width" value="1920" isRequired="true"/>
        <UpperBound name="video.height" value="1080" isRequired="true"/>
        <UpperBound name="video.bitrate" value="50000" isRequired="false"/>
        <UpperBound name="video.bitDepth" value="8" isRequired="false"/>
      </Limitations>
    </VideoCodec>
    <VideoAudioCodec name="*">
      <Limitations>
        <UpperBound name="audio.channels" value="6"/>
      </Limitations>
    </VideoAudioCodec>
</CodecProfiles>
</Client>
