---
  # file: roles/home-server/tasks/main.yml
  - include: setup-base-vm.yml
    tags: setup-base-vm

  - include: setup-docker-pkgs.yml
    tags: setup-docker-pkgs

  - include: setup-docker-user.yml
    tags: setup-docker-user

  - include: setup-nfs-shares.yml
    tags: setup-nfs-shares

  - include: setup-metadata-disk.yml
    tags: setup-metadata-disk

  - include: setup-docker-dirs.yml
    tags: setup-dirs-docker

  - include: setup-docker-compose.yml
    tags: setup-docker-compose

  - include: setup-plex.yml
    tags: setup-plex
