---

- name: add media group
  group:
    name: media
    gid: 10000
    state: present

- name: add media user
  user:
    name: media
    uid: 10000
    shell: /bin/bash
    group: media
    groups: docker
    append: yes

- name: add bash_profile for media user
  template: src=templates/media.profile.j2 dest=~media/.bash_profile
