# This file will be called from Ansible

version: '2'

services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    hostname: plex
    network_mode: host
    restart: unless-stopped
    ports:
      - 32400:32400/tcp
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    environment:
      - TZ=Europe/Amsterdam
      - USER=media
      - USERID=10000
      - PLEX_UID=10000
      - PLEX_GID=10000
      - PLEX_CLAIM=Wdtmn27zos7AqDtiq4tr
      - ADVERTISE_IP=http://localhost:32400
    volumes:
      - /shared/config/plex:/config
      - /shared/data/plex:/transcode
      - /shared/media/TV.Shows:/data/tvshows:shared
      - /shared/media/Movies:/data/movies:shared
      - /shared/media/Music:/data/mediaTypeA:shared

  sabnzbd:
    container_name: sabnzbd
    image: docker.io/cryptout/sabnzbd
    hostname: sabnzbd
    network_mode: host
    ports:
      - "8080:8080"
      - "9090:9090"
    expose:
      - "9090"
    environment:
      - TZ=Europe/Amsterdam
      - USER=media
      - USERID=10000
      - PUID=10000
      - PGID=10000
      - ENV appUser=media
      - ENV appGroup=media
    volumes:
      - /etc/localtime:/etc/timezone:ro
      - /shared/config/sabnzbd:/config
      - /shared/data/downloads:/downloads:shared
      - /shared/data/incomplete:/incomplete-downloads:shared
      - /shared/media:/media:shared

  transmission:
    container_name: transmission
    image: docker.io/cryptout/transmission
    hostname: transmission
    network_mode: host
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    environment:
      - TZ=Europe/Amsterdam
      - USER=media
      - USERID=10000
      - PUID=10000
      - PGID=10000
      - ENV appUser=media
      - ENV appGroup=media
    volumes:
      - /etc/localtime:/etc/timezone:ro
      - /shared/data/downloads:/downloads:shared
      - /shared/data/incomplete:/incomplete:shared
      - /shared/media:/media:shared

  sickrage:
    container_name: sickrage
    image: docker.io/cryptout/sickrage
    hostname: sickrage
    network_mode: host
    ports:
      - 8081:8081
    environment:
      - TZ=Europe/Amsterdam
      - USER=media
      - USERID=10000
      - PUID=10000
      - PGID=10000
      - ENV appUser=media
      - ENV appGroup=media
    volumes:
      - /etc/localtime:/etc/timezone:ro
      - /shared/data/sickrage:/data
      - /shared/config/sickrage:/config
      - /shared/media:/media:shared
