# file: roles/home-server/files/docker-compose.yml
# This file is under Ansible control

version: '2'

services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    hostname: plex
    network_mode: host
    restart: unless-stopped
    environment:
      - TZ=Europe/Amsterdam
      - USER=media
      - USERID=10000
      - PLEX_UID=10000
      - PLEX_GID=10000
      - ADVERTISE_IP=http://localhost:32400
    volumes:
      - /share/config/plex:/config
      - /share/media:/data

  transmission:
    container_name: transmission
    image: docker.io/cryptout/transmission
    hostname: transmission
    network_mode: host
    environment:
      - TZ=Europe/Amsterdam
      - USER=media
      - USERID=10000
      - PUID=10000
      - PGID=10000
    volumes:
      - /share:/share

  sabnzbd:
    container_name: sabnzbd
    image: docker.io/cryptout/sabnzbd
    hostname: sabnzbd
    network_mode: host
    environment:
      - TZ=Europe/Amsterdam
      - USER=media
      - USERID=10000
      - PUID=10000
      - PGID=10000
      - ENV appUser=media
      - ENV appGroup=media
    volumes:
      - /share:/share

  sickrage:
    container_name: sickrage
    image: docker.io/cryptout/sickrage
    hostname: sickrage
    network_mode: host
    environment:
      - TZ=Europe/Amsterdam
      - USER=media
      - USERID=10000
      - PUID=10000
      - PGID=10000
      - ENV appUser=media
      - ENV appGroup=media
    volumes:
      - /share:/share

  couchpotato:
    container_name: couchpotato
    image: docker.io/cryptout/couchpotato
    hostname: couchpotato
    network_mode: host
    environment:
      - TZ=Europe/Amsterdam
      - USER=media
      - USERID=10000
      - PUID=10000
      - PGID=10000
      - ENV appUser=media
      - ENV appGroup=media
    volumes:
      - /share:/share

  plexpy:
    container_name: plexpy
    image: docker.io/cryptout/plexpy
    hostname: plexpy
    network_mode: host
    environment:
      - TZ=Europe/Amsterdam
      - USER=media
      - USERID=10000
      - PUID=10000
      - PGID=10000
      - ENV appUser=media
      - ENV appGroup=media
    volumes:
      - /share:/share
