---
- set_fact: compose_dir=/opt/ansible-docker

- file:
    path: "{{ compose_dir }}"
    state: directory

- name: create shared docker config directories
  become: true
  become_user: vagrant
  file:
    path: "{{ docker_config_dir }}/{{ item }}"
    state: directory
  with_items:
    - sabnzbd
    - couchpotato
    - deluge
    - vault

- name: create shared docker log directories
  become: true
  become_user: vagrant
  file:
    path: "{{ docker_log_dir }}/{{ item }}"
    state: directory
  with_items:
    - sabnzbd
    - couchpotato
    - deluge
    - vault

- name: create shared docker data directories
  become: true
  become_user: vagrant
  file:
    path: "{{ docker_data_dir }}/{{ item }}"
    state: directory
  with_items:
    - Movies
    - TV.Shows
    - Music

- name: upload docker files
  synchronize:
    src: "{{ item }}"
    dest: "{{ compose_dir }}"
  with_items:
    - docker-compose.yml

- name: start docker daemon
  service: name=docker state=started enabled=yes

- name: start docker-compose
  docker_service:
    project_src: "{{ compose_dir }}"
    debug: yes
    state: present
  register: output

- debug: var=output
