# This file will be called from Ansible

version: '2'

services:
  sabnzbd:
    container_name: sabnzbd
    build: ./sabnzbd
    image: gliderlabs/alpine:3.2
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - /shared/config/sabnzbd:/config
      - /shared/data/cache:/cache
      - /shared/data:/data

  couchpotato:
    container_name: couchpotato
    build: ./couchpotato
    image: gliderlabs/alpine:3.3
    restart: always
    ports:
      - "5050:5050"
    volumes:
      - /shared/config/couchpotato:/config/couchpotato
      - /shared/data/Movies:/data/Movies
      - /shared/data/cache:/cache
