# This file will be called from Ansible

version: '2'

services:
  couchpotato:
    container_name: couchpotato
    image: docker.io/cryptout/couchpotato
    ports:
      - "5050:5050"
    environment:
      - ENV appUser="media"
      - ENV appGroup="1000"
    volumes:
      - /shared/config/couchpotato:/config
      - /shared/data:/data

  sabnzbd:
    container_name: sabnzbd
    image: docker.io/cryptout/sabnzbd
    ports:
      - "8080:8080"
      - "9090:9090"
    environment:
      - ENV appUser="media"
      - ENV appGroup="1000"
    volumes:
      - /shared/config/sabnzbd:/config
      - /shared/data/sabnzbd/downloads:/downloads
      - /shared/data/sabnzbd/incomplete-downloads:/incomplete-downloads

  deluge:
    container_name: deluge
    image: docker.io/cryptout/deluge
    ports:
      - "8112:8112"
      - "58846:58846"
      - "58946/udp:58946/udp"
    environment:
      - TZ="Europe/Amsterdam"
      - PUID="1000"
      - PGID="1000"
      - ENV appUser="media"
      - ENV appGroup="1000"
    volumes:
      - /shared/config/deluge:/config
      - /shared/data/deluge/downloads:/downloads
